<section class="relative w-full px-4 lg:px-8 xl:px-12 mt-12 md:mt-24 z-40 opacity-100">
    <div class="max-w-[1116px] mx-auto py-12 px-10 flex flex-col justify-start md:flex-row md:justify-between items-center rounded-xl border-[1px] border-[#484F59] bg-[#22262B] opacity-100 z-40">
      <div class="max-w-[263px] md:max-w-[462px] flex flex-col justify-start">
        <img src="/images/logo-white.png"  class="w-[113px] h-5"/>
        <p class="mt-4 font-bold text-[28px] md:text-4xl leading-[33px] md:leading-[43px] text-white font-dmsans">Experience Optmyzr for yourself for 2 full weeks</p>
        <p class="mt-4 font-normal text-[14px] md:text-base leading-[20px] md:leading-[22px] text-[#F9F8F6] font-inter">Start your 13 day free trial today. No credit card required.</p>
      </div>
      <div class="w-[263px] mt-5 md:mt-0 lg:w-[394px] flex flex-row justify-between font-semibold text-[14px] lg:text-base leading-[17px] lg:leading-5 font-inter">
        <button class="w-[127px] lg:w-[187px] rounded-xl px-6 py-[11px] lg:py-[15px] bg-[#069BA2] text-white ">Start Trial</button>
        <button class="w-[127px] lg:w-[187px] rounded-xl px-6 py-[11px] lg:py-[15px] bg-[#034649] text-white ">Book Demo</button>
      </div>
    </div>
      
  </section>