<section class="w-full mx-auto bg-black flex flex-start -mt-[190px] md:-mt-[130px] z-0">
    <div class="w-full mt-[190px] md:mt-[130px] px-4 lg:px-8 xl:px-12  py-12 flex justify-start">
      <div class="hidden md:inline">
        <img src="/images/symbol.png" width="48" height="48"/>
      </div>
      <div class="ml-12 w-full flex flex-col">
        <div class="hidden md:grid grid-cols-3 font-inter">
          <div class="flex flex-col text-left gap-y-3">
            <p class="font-normal text-[13px] md:text-sm leading-[18px] md:leading-5 text-[#626C7A]">Features</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">One-Click Optimizations</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Data Insights</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Enhanced Scripts</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Rule Engine</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Optmyzr Express</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Blue Prints</p>
          </div>
          <div class="flex flex-col text-left gap-y-3">
            <p class="font-normal text-[13px] md:text-sm leading-[18px] md:leading-5 text-[#626C7A]">Solutions</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Search Ads</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Shoping Ads</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Google Ads</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Microsofe Ads</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Amszon Ads</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Agencies</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Custom</p>
          </div>
          <div class="flex flex-col text-left ">
            <p class="font-normal text-[13px] md:text-sm leading-[18px] md:leading-5 text-[#626C7A]">Company</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">About</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Blog</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">PPC Town Hall</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Case Studies</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Events</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Help Center</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Affiliate Program</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Book</p>
          </div>
        </div>
        <div class="grid grid-cols-2 font-inter md:hidden">
          <div class="flex flex-col text-left gap-y-3">
            <p class="font-normal text-[13px] leading-[18px] text-[#626C7A]">Features</p>
            <p class="font-medium text-[14px] leading-5 text-white">One-Click Optimizations</p>
            <p class="font-medium text-[14px] leading-5 text-white">Data Insights</p>
            <p class="font-medium text-[14px] leading-5 text-white">Enhanced Scripts</p>
            <p class="font-medium text-[14px] leading-5 text-white">Rule Engine</p>
            <p class="font-medium text-[14px] leading-5 text-white">Optmyzr Express</p>
            <p class="font-medium text-[14px] leading-5 text-white">Blue Prints</p>
          </div>
          <div class="flex flex-col text-left gap-y-3">
            <p class="font-normal text-[13px] md:text-sm leading-[18px] md:leading-5 text-[#626C7A]">Solutions</p>
            <p class="font-medium text-[14px] leading-5 text-white">Search Ads</p>
            <p class="font-medium text-[14px] leading-5 text-white">Shoping Ads</p>
            <p class="font-medium text-[14px] leading-5 text-white">Google Ads</p>
            <p class="font-medium text-[14px] leading-5 text-white">Microsofe Ads</p>
            <p class="font-medium text-[14px] leading-5 text-white">Amszon Ads</p>
            <p class="font-medium text-[14px] leading-5 text-white">Agencies</p>
            <p class="font-medium text-[14px] leading-5 text-white">Custom</p>
          </div>
        </div>
        <p class="md:hidden font-normal text-[13px] leading-[18px] text-[#626C7A] mt-6">Company</p>
        <div class="grid grid-cols-2 font-inter md:hidden mt-3">
          <div class="flex flex-col text-left gap-y-3">
           <p class="font-medium text-[14px] leading-5 text-white">About</p>
           <p class="font-medium text-[14px] leading-5 text-white">Blog</p>
           <p class="font-medium text-[14px] leading-5 text-white">PPC Town Hall</p>
           <p class="font-medium text-[14px] leading-5 text-white">Product Webinars</p>
           <p class="font-medium text-[14px] leading-5 text-white">Case Studies</p>
          </div>
          <div class="flex flex-col text-left gap-y-3">
           <p class="font-medium text-[14px] leading-5 text-white">Events</p>
           <p class="font-medium text-[14px] leading-5 text-white">Help Center</p>
           <p class="font-medium text-[14px] leading-5 text-white">Affiliate Program</p>
           <p class="font-medium text-[14px] leading-5 text-white">Book</p>
          </div>
        </div>
        <div class="w-full border-[1px] border-[#484F59] mt-12"></div>
  
        <div class="flex flex-col justify-start md:flex-row md:justify-between mt-12 font-inter">
          <div class="flex flex-col text-left gap-y-3">
            <p class="font-normal text-sm leading-5 text-[#626C7A]">Contact</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Write To Us</p>
            <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">Request A 1-On-1 Demo</p>
          </div>
          <div class="hidden md:flex flex-col text-left gap-y-2">
            <p class="font-normal text-sm leading-5 text-[#626C7A]">Follow Us</p>
            <div class="flex justify-between gap-x-6">
              <div class="flex justify-start items-center md:gap-x-4 lg:gap-x-3">
                <img src="/images/twitter.png" width="24" height="24" />
                <img src="/images/instagram.png" width="24" height="24" />
                <img src="/images/facebook.png" width="24" height="24" />
                <img src="/images/youtube.png" width="34" height="24" />
              </div>
              <div class="flex flex-col gap-3 font-medium text-base leading-[22px] text-white text-left">
                <p>Super Optmyzr Community</p>
                <p>PPC Videos</p>
              </div>
            </div>
          </div>
          <div class="hidden md:flex justify-between gap-x-6">
            <img src="/images/google_partner.png" width="128" height="48"/>
            <img src="/images/inc_5000.svg" width="48" height="48"/>
          </div>
          <div class="flex justify-between md:hidden mt-3">
            <div class="flex flex-col">
              <p class="font-normal text-sm leading-5 text-[#626C7A]">Follow Us</p>
              <div class="flex flex-row justify-between items-center gap-x-6 mt-2">
                <img src="/images/twitter.png" width="20" height="20" />
                <img src="/images/instagram.png" width="20" height="20" />
                <img src="/images/facebook.png" width="20" height="20" />
                <img src="/images/youtube.png" width="29" height="20" />
              </div>
              <div class="flex flex-col gap-3 font-medium text-base leading-[22px] text-white mt-4">
                <p>Super Optmyzr Community</p>
                <p>PPC Videos</p>
              </div>
            </div>
            <div class="flex flex-col items-end gap-y-6">
              <img src="/images/google_partner.png" width="128" height="48"/>
            <img src="/images/inc_5000.svg" width="48" height="48"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </section>