<section class="w-full mx-auto bg-black flex flex-start -mt-[190px] md:-mt-[130px] z-0">
  <div class="w-full mt-[190px] md:mt-[130px] px-4 lg:px-8 xl:px-12 py-12 flex justify-start">
    <div class="hidden md:inline">
      <img src="{{ "images/symbol.png" | relURL }}" alt="Symbol" width="48" height="48" />
    </div>
    <div class="ml-12 w-full flex flex-col">
      <div class="hidden md:grid grid-cols-3 font-inter">
        <!-- Features -->
        <div class="flex flex-col text-left gap-y-3">
          <p class="font-normal text-[13px] md:text-sm leading-[18px] md:leading-5 text-[#626C7A]">Features</p>
          {{ range .Site.Params.features }}
          <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">{{ . }}</p>
          {{ end }}
        </div>

        <!-- Solutions -->
        <div class="flex flex-col text-left gap-y-3">
          <p class="font-normal text-[13px] md:text-sm leading-[18px] md:leading-5 text-[#626C7A]">Solutions</p>
          {{ range .Site.Params.solutions }}
          <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">{{ . }}</p>
          {{ end }}
        </div>

        <!-- Company -->
        <div class="flex flex-col text-left">
          <p class="font-normal text-[13px] md:text-sm leading-[18px] md:leading-5 text-[#626C7A]">Company</p>
          {{ range .Site.Params.company }}
          <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">{{ . }}</p>
          {{ end }}
        </div>
      </div>

      <!-- Mobile View -->
      <div class="grid grid-cols-2 font-inter md:hidden">
        <!-- Features and Solutions -->
        {{ $sections := slice "features" "solutions" }}
        {{ range $sections }}
        <div class="flex flex-col text-left gap-y-3">
          <p class="font-normal text-[13px] leading-[18px] text-[#626C7A]">{{ . | title }}</p>
          {{ range index $.Site.Params . }}
          <p class="font-medium text-[14px] leading-5 text-white">{{ . }}</p>
          {{ end }}
        </div>
        {{ end }}
      </div>

      <!-- Divider -->
      <div class="w-full border-[1px] border-[#484F59] mt-12"></div>

      <!-- Footer Bottom -->
      <div class="flex flex-col justify-start md:flex-row md:justify-between mt-12 font-inter">
        <div class="flex flex-col text-left gap-y-3">
          <p class="font-normal text-sm leading-5 text-[#626C7A]">Contact</p>
          <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">
            <a href="{{ .Site.Params.contact.write_to_us_url }}">Write To Us</a>
          </p>
          <p class="font-medium text-[14px] md:text-base leading-5 md:leading-[22px] text-white">
            <a href="{{ .Site.Params.contact.demo_url }}">Request A 1-On-1 Demo</a>
          </p>
        </div>

        <div class="hidden md:flex flex-col text-left gap-y-2">
          <p class="font-normal text-sm leading-5 text-[#626C7A]">Follow Us</p>
          <div class="flex justify-between gap-x-6">
            {{ range .Site.Params.social }}
            <img src="{{ .icon | relURL }}" alt="{{ .name }}" width="24" height="24" />
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
