<footer class="w-full h-[66px] md:h-10 flex flex-col justify-start md:flex-row md:justify-between md:items-center px-4 md:px-12 py-[13px] md:py-3 bg-[#023639] font-medium text-xs leading-4 text-[#B2E0E2]">
  <!-- Copyright Information -->
  <p>Copyright © 2013-{{ now.Format "2006" }} {{ .Site.Params.companyName }} - All Rights Reserved</p>

  <!-- Privacy and Terms -->
  <div class="flex justify-start md:justify-between items-center gap-x-3">
      <a href="{{ .Site.Params.privacyPolicyURL }}" class="hover:underline">Privacy Policy</a>
      <div>
          <img src="{{ "images/ellipse.png" | relURL }}" width="2" height="2" alt="separator" />
      </div>
      <a href="{{ .Site.Params.termsOfUseURL }}" class="hover:underline">Terms of Use</a>
  </div>
</footer>
