<header class="flex w-full max-w-[1440px] justify-between  items-center h-14 sm:h-20 py-4 px-4 md:px-8 lg:px-12 bg-white">
    <!-- Logo -->
     <div class="w-[226px] h-5">
      <img src="/images/logo.png" class="w-[113.35px] h-full" alt="Company Logo" />
     </div>
  
    <!-- Navigation Links -->
    <nav class="hidden w-full lg:flex lg:max-w-[500px] xl:max-w-[660px] justify-between items-center text-[#0B0C0D] font-medium text-base leading-5 font-inter">
      <a href="#products" >Products</a>
      <a href="#solutions" >Solutions</a>
      <a href="#resources" >Resources</a>
      <a href="#company" >Company</a>
      <a href="#pricing" >Pricing</a>
    </nav>
  
    <!-- Buttons -->
    <div class="hidden md:flex items-center h-12 gap-x-3 font-semibold text-base leading-5 text-center font-inter">
      <button  class="rounded-xl px-6 py-[14px] bg-[#E6F5F6] text-[#05747A]">
        Login
      </button>
      <button class="rounded-xl px-6 py-[14px] bg-[#05747A] text-white">
        Start Trial
      </button>
    </div>
        <!-- Hamburger Menu for Small Screens -->
      <button class="md:hidden"> 
        <img src="/images/menu.svg" class="w-6 h-6" />
      </button>
  </header>