<div class="rounded-xl border-[#DADADA] border-[1px] flex flex-col">
    <img src="/images/placehoder_1.png"/>
    <div class="px-4 sm:px-6 py-6 sm:py-8 bg-[#F3F3F3] flex flex-col justify-start">
      <button class="border-[1px] rounded-[25px] py-1 px-2 text-[#626C7A] border-[#626C7A] w-[62px] font-medium text-[11px] sm:text-[13px] leading-[15px] sm:leading-[18px] font-inter" >BRAND</button>
      <p class="mt-2 max-w-[311px] sm:max-w-[384px] font-bold text-[21px] sm:text-[27px] leading-6 sm:leading-[30px] text-black font-dmsans">BBQGuys Manages Nearly 30,000 SKUs in 50% Less Time with Optmyzr</p>
      <p class="mt-2 max-w-[311px] sm:max-w-[384px] font-normal text-base sm:text-[18px] leading-[22px] sm:leading-[25px] text-[#484F59]">Louisiana-based online retailer saves 4-6 hours weekly and gains over $450k in revenue since 2021</p>
      <button class="hidden md:flex mt-8 max-w-[164px] rounded-xl px-6 py-[15px] bg-[#05747A] font-semibold text-base leading-5 text-center text-white">Read Full Story</button>
    </div>
  </div>