{{ $revenuePage := .Site.GetPage "revenue" }}
<section class="relative w-full lg:mt-[104px] grid grid-cols-1 lg:grid-cols-2 px-4 lg:px-8 xl:px-12 gap-6 py-12 lg:py-0 z-30">
  <div class="flex flex-col">
    <p class="font-bold text-[#0B0C0D] font-dmsans text-[38px] lg:text-[42px] xl:text-[47px] leading-[42px] lg:leading-[47px] xl:leading-[53px]">
      {{ $revenuePage.Params.headline }}
    </p>
    <p class="font-normal text-[#484F59] font-inter text-[18px] lg:text-[19px] xl:text-xl leading-[25px] lg:leading-7 mt-6">
      {{ $revenuePage.Params.description }}
    </p>
    <div class="flex justify-between sm:hidden font-semibold text-base leading-5 text-center font-inter">
      <button class="mt-8 py-4 px-6 gap-2.5 rounded-xl bg-[#05747A] text-white">
        {{ $revenuePage.Params.ctaPrimary }}
      </button>
      <button class="mt-8 py-4 px-6 gap-2.5 rounded-xl bg-[#E6F5F6] text-[#05747A]">
        {{ $revenuePage.Params.ctaSecondary }}
      </button>
    </div>
    <div class="hidden md:flex">
      <button class="mt-8 py-4 px-6 gap-2.5 rounded-xl bg-[#05747A] text-white font-semibold text-base leading-5 text-center font-inter">
        {{ $revenuePage.Params.ctaPrimary }}
      </button>
    </div>
  </div>
  <div class="hidden lg:flex justify-center">
    <img src="{{ $revenuePage.Params.imageDesktop }}" alt="Revenue Story Image" />
  </div>
  <div class="flex justify-center lg:hidden">
    <img src="{{ $revenuePage.Params.imageMobile }}" alt="Revenue Story Mobile Image" />
  </div>
</section>
