<section class="w-full bg-[#E6F5F6] rounded-[20px] md:rounded-none lg:mt-24 px-4 md:px-12 py-6 md:py-16 flex flex-col items-center">
    <p class="font-inter md:font-dmsans font-normal md:font-medium lg:font-bold text-[11px] md:text-base lg:text-xl leading-4 md:left-5 lg:leading-[22px] text-center text-[#484F59]">Paid media and digital marketing teams all over the world use Optmyzr</p>
    <div class="w-full hidden md:flex justify-between mt-5 h-9 xl:h-12">
      <img src="/images/driva.png" class="h-full w-24 xl:w-36"/>
      <img src="/images/rakuten.svg" class="h-full w-[264px] xl:w-[396px]"/>
      <img src="/images/velux.png" class="h-full w-[114px] xl:w-[172px]"/>
      <img src="/images/public_group.png" class="h-full w-[74px] xl:w-[113px]"/>
      <img src="/images/fever.png" class="h-full w-[104px] xl:w-[156px]" />
    </div>
    <div class="w-full md:hidden flex flex-col mt-5">
        <div class="flex justify-around items-center h-6">
          <img src="/images/driva.png" class="h-full min-w-18"/>
          <img src="/images/rakuten.svg" class="h-full min-w-[112px]"/>
        </div>
        <div class="flex justify-around items-center h-6 mt-9">
          <img src="/images/velux.png" class="h-full w-[86px]"/>
          <img src="/images/public_group.png" class="h-full w-14"/>
          <img src="/images/fever.png" class="h-full w-[78px]" />
        </div>
    </div>
    <p class="md:hidden font-inter font-medium text-base leading-[22px] text-center mt-5">See how PPC teams the world over improve performance, increase efficiency, and scale their businesses with Optmyzr.</p>
  </section>